.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.App-header > div{
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messagebox {
  background: rgb(40,103,91);
  background: linear-gradient(127deg, rgba(40,103,91,1) 0%, rgba(121,9,104,1) 50%, rgba(0,212,255,1) 100%);
  padding:.5rem;
  flex-grow: 10;
}

.text-input{
  display: flex;
  background: rgb(40,103,91);
  background: linear-gradient(90deg, rgba(40,103,91,1) 0%, rgba(121,9,104,1) 50%, rgba(0,212,255,1) 100%);
  padding:.5rem;
  border-top: 1px solid whitesmoke;
}

.text-input input {
  flex-grow:5;
  background-color: whitesmoke;
  padding:.8rem;
  border-radius: 1rem;
}

.messages li {
  background-color: whitesmoke;
  width:fit-content;
  padding:.8rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  list-style-type: none;
}

.icon {
  background-image: url('./platter.png');
  height: 3rem;
  width: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3rem;
  background-position: center;
}

.subtext {
  margin-left: 3rem;
  color: whitesmoke;
}

.text-input button{
  background-image: url('./arrow.png');
  height: 3rem;
  width: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0.5rem;
}